body{
    background-color: gray;
}
.parentbox{
    height: 400px;
    width: 400px;
    background-color: yellow;
    margin: auto;
    border: 5px solid black;
}
.black{
    height: 50px;
    width: 50px;
    background-color:rgb(105, 37, 10);
    float:left;
    color: black;
}
.white{
    height: 50px;
    width: 50px;
    background-color: rgb(195, 159, 111);
    float:left;
    color: white;
}
#a{
    color: white;
    font-size: 2.2rem; 
    text-align: center; 
}
#b{
    color: black;
    font-size: 2.2rem;
    text-align: center;
}
h1{
    text-align: center;
    color: aqua;
    padding-bottom: 2rem;
}
.parentbox:hover{
    box-shadow: 5px 5px 50px 5px blueviolet;
}